---
layout: default
# No special page title on the home page
# # title: Neel Mehta
---
<div class="container">

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <img src="images/about/neel-mehta-square.jpg" class="img-responsive img-thumbnail img-circle">
        </div>
    </div>

    <h1 class="page-header centered">
        Neel Mehta
        <small>Harvard CS '18</small>
    </h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p class="lead">
                Hey! I'm Neel, a rising Harvard senior studying computer science. I'm passionate about using <strong>technology for social good</strong>, so I founded <a href="http://codingitforward.com">Coding it Forward</a>, a community of 800+ students who are using their technology skills to purse careers in the social impact space.</p>

            <p class="lead">
                This summer, I turned down offers from Microsoft and Facebook because I wanted to work in civic tech. Since there were no good civic tech internships, I started my own internship program: the Civic Digital Fellowship is sending 15 paid tech interns (out of over 220 applications) to the Census Bureau this summer.
            </p>

            <p class="lead">
                I'm passionate about <strong>product management</strong>, having done <a href="/work">PM internships at Microsoft and now the Census Bureau</a>. My skills in human-centered design and lean prototyping have helped me design and develop software to <a href="/projects">help the Peruvian health ministry fight TB, reduce cancer incidence among Boston firefighters, and more</a>.
            </p>

            <hr />

            <!-- SOCIAL MEDIA -->
            <div class="centered">
                {% for media in site.data.socialmedia %}
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ media.url }}" class="text-info" target="_blank">
                        <span class="sr-only">{{ media.name }}</span>
                        <span class="fa fa-{{ media.icon }} fa-3x"></span>
                    </a>
                    &nbsp;&nbsp;&nbsp;
                {% endfor %}
            </div>

            <hr />

            <!-- BRANDS -->

            {% for brand in site.data.brands %}
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3">
                <a href="{{ brand.url }}">
                  <img class="media-object extra-padding img-centered img-rounded" src="images/brands/{{ brand.image }}" alt="{{ brand.title }} by Neel Mehta">
                </a>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-9">
                  <h2 class="media-heading">
                      {{ brand.title }} <small class="text-muted">— {{ brand.subtitle }}</small>
                      <span class="sr-only">by Neel Mehta</span>
                  </h2>

                  <p>
                      {{ brand.description }}
                  </p>
              </div>
            </div>
            {% endfor %}

            <br />

            <hr />

            <a href="neel-mehta-resume.pdf" class="btn btn-primary btn-block">
                My resume
            </a>

            <p>
                Want to talk? <a href="http://www.google.com/recaptcha/mailhide/d?k=01CiQQvSHlOI2asGiYuYmeNQ==&c=6qLiAGtgqrFteAuaXy-69aFyqvGE8Mit4SA789LEL-U=">Drop me a line!</a>
            </p>

        </div>
    </div>
</div>
