---
layout: default
# No special page title on the home page
title: Neel Mehta
---
<div class="container">

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <img src="images/about/neel-mehta-square.jpg" class="img-responsive img-thumbnail img-circle">
        </div>
    </div>

    <h1 class="page-header centered">
        Neel Mehta
    </h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p class="lead">
                I'm a PM at Google,
                <a href="https://www.codingitforward.com/fellowship" target="_blank">civic techie</a>,
                <a href="https://www.amazon.com/gp/product/b0756mtx6k/" target="_blank">twice</a>-<a href="https://www.amazon.com/dp/B07T13GP1Q" target="_blank">bestselling</a> author, and
                <a href="http://hodp.org/" target="_blank">open data enthusiast</a>.
            </p>

            <p>
              Formerly at Harvard, Microsoft, the US Census Bureau, and Khan Academy.
            </p>

            <hr />

            <!-- SOCIAL MEDIA -->
            <div class="centered">
                {% for media in site.data.socialmedia %}
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ media.url }}" class="text-info" target="_blank">
                        <span class="sr-only">{{ media.name }}</span>
                        <span class="{{ media.icon_family }} fa-{{ media.icon }} fa-3x"></span>
                    </a>
                    &nbsp;&nbsp;&nbsp;
                {% endfor %}
            </div>

            <br>
            <br>

            <!-- <hr /> -->

            <!-- BRANDS -->

            <!-- {% for brand in site.data.brands %}
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3">
                <a href="{{ brand.url }}">
                  <img class="media-object extra-padding img-centered img-rounded" src="images/brands/{{ brand.image }}" alt="{{ brand.title }} by Neel Mehta">
                </a>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-9">
                  <h2 class="media-heading">
                      {{ brand.title }} <small class="text-muted">— {{ brand.subtitle }}</small>
                      <span class="sr-only">by Neel Mehta</span>
                  </h2>

                  <p>
                      {{ brand.description }}
                  </p>
              </div>
            </div>
            {% endfor %} -->

            <!-- <br />

            <hr /> -->

            <!-- <a href="neel-mehta-resume.pdf" class="btn btn-primary btn-block">
                My resume
            </a> -->
<!--
            <p>
                Want to talk? <a href="http://www.google.com/recaptcha/mailhide/d?k=01CiQQvSHlOI2asGiYuYmeNQ==&c=6qLiAGtgqrFteAuaXy-69aFyqvGE8Mit4SA789LEL-U=">Drop me a line!</a>
            </p> -->

        </div>
    </div>
</div>
