<div class="footer">
    <div class="container">
        <p class="text-muted centered">

            <a href="/about.html">
                <img id="main-image" class="img-responsive pull-left" src="images/elephant.png" style="height: 50px;" alt="hathix" title="hathix">
            </a>

            Copyright &copy; Neel Mehta 2011 &ndash; <script>document.write(new Date().getFullYear())</script>.
            <!-- Made with <span class="fa fa-heart"></span> in Cambridge, MA. -->
            <a href="/about.html">hathix.com: think inside the box.</a>

            <br />

            <!-- social media -->
            {% for media in site.data.socialmedia %}
                &nbsp;
                <a href="{{ media.url }}" target="_blank">
                    <span class="sr-only">{{ media.name }}</span>
                    <span class="fa fa-{{ media.icon }}"></span>
                </a>
                &nbsp;
            {% endfor %}

        </p>
    </div>
</div>
